/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {

    .nakul-footer {
      height: 8vh;
      width: 100%;
      position: fixed;
      bottom: 0;
      font-family: $fontMonospace;
      margin-left: -70px;
      left: 29%
    }
  
}

// Custom, iPhone Retina 
@media only screen and (min-width : 20em) {

    .nakul-footer {
        height: 8vh;
        width: 100%;
        position: fixed;
        bottom: 0;
        font-family: $fontMonospace;
        left: 29%
      }

}

// Extra Small Devices, Phones 
@media only screen and (min-width : 30em) {

    .nakul-footer {
        height: 8vh;
        width: 100%;
        position: fixed;
        bottom: 0;
        font-family: $fontMonospace;
        left: 39%
      }

}

// Small Devices, Tablets
@media only screen and (min-width : 48em) {

    .nakul-footer {
        height: 8vh;
        width: 100%;
        position: fixed;
        bottom: 0;
        font-family: $fontMonospace;
        left: 39%
      }


}

// Medium Devices, Desktops
@media only screen and (min-width : 62em) {

    .nakul-footer {
        height: 8vh;
        width: 100%;
        position: fixed;
        bottom: 0;
        font-family: $fontMonospace;
        left: 39%
      }

}

// Large Devices, Wide Screens
@media only screen and (min-width : 75em) {

    .nakul-footer {
        height: 8vh;
        width: 100%;
        position: fixed;
        bottom: 0;
        font-family: $fontMonospace;
        left: 39%
      }

}

  
.footer-container {
    grid-column-start: inner-start;
    grid-column-end: inner-end;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
  
  .footer-container p {
      cursor: pointer;
  }