
.nakul-header {
    left: 0;
    height: $header-height;
    width: 100%;
    background-color: #FFFEFC;
    position: fixed;
    color: #201D22;
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(32, 29, 34, 0.1);
    margin-bottom: 1vh;
    top: 0px;
}

.header-action {
    height: 100%;
    width: 300px;
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin-right: 1vw;
    margin-left: 1vw;
}

.header-action-p {
    font-size: 14px;
    cursor: pointer;
}

.header-item-text {
    font-weight: bold;
    color: black;
    padding: 5px;
    font-size: 18px;
    font-family: $fontMonospace;

  }

  .nakul-top-left {
    position: absolute;
    left:0;
    top:0
}

