.sidebar {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1vh;
  margin-left: 0;
  margin-top: 0;
  font-size: $sidebar-font-size;
  z-index: 1000;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: black;
}

.sidebar-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-item-content {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: black;
}

.sidebar-item-text {
  width: 100%;
  font-weight: bold;
  color: white;
}

.sidebar-item-expand-arrow {
  font-size: 1.2rem !important;
}

.sidebar-item-expand-arrow-expanded {
  color: #09bb12;
  font-weight: bold;
}