//header
$header-height: 10vh;

//sidebar
$sidebar-width: 10vw;

// margins
$left-sidebar-left-margin: 10vw;
$center-item-left-margin: 10vw;
$sidebar-margin-top: 10vh;

//colors
$nakul-bg-color: #FFFEFC;