//header
$header-height: 10vh;

//sidebar
$sidebar-width: 10vw;

// margins
$left-sidebar-left-margin: 10vw;
$center-item-left-margin: 10vw;
$sidebar-margin-top: 10vh;

//colors
$nakul-bg-color: #FFFEFC;

$fontSans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontMonospace: "Consolas", Liberation Mono, Menlo, Courier, monospace;

$alpha: #666;
$beta: #222;
$gama: #727272;
$delta: #4b0082;
$epsilon: #ededed;

$mobile: "only screen and (max-width: 400px)";
$tablet: "only screen and (min-width: 400px) and (max-width: 1050px)";
$above: "only screen and (min-width: 780px)";
$below: "only screen and (max-width: 780px)";